.layout {
  flex-basis: 100%;
  max-width: 1300px;
  @include flex(row, space-around, null);
  gap: 0.8rem;
  flex-shrink: 0;
  margin: auto;

  .header {
    height: 100vh;
    flex: 22%;
    max-width: 280px;
    @include flex(row, flex-end, flex-start);
    position: sticky;
    top: 0px;
    .nav-container {
      height: 100%;
      width: 100%;
      @include flex(row, center, flex-start);
    }
    @media (max-width: 1150px) {
      flex: 80px;
      align-items: flex-end;
      .nav-container {
        width: 88px;
      }
    }
  }

  .main {
    flex: 48%;
    @include flex(column, center, center);
    // position: relative;

    .main-container {
      width: 100%;
      height: 100%;
      @include flex(column, flex-start, center);
      // gap: 3px;
      border: 0px solid transparent;
      border-right-width: 1px;
      border-left-width: 1px;
      border-color: $color7;
      position: relative;
    }
  }

  .main-messages {
    flex: 79%;
    @include flex(row, center, center);
    // position: relative;
    // margin-right: 15px;
    @media (max-width: 1350px) {
      margin-right: 30px;
      
    }

    .inbox {
      width: 40%;
    }

    .chatrom {
      width: 60%;
      height: 100%;
      border-right: 1px solid $color7;
    }
  }

  .aside {
    flex: 30%;
    @include flex(column, flex-start, center);
    gap: 1.5rem;
    border-radius: 8px;
    padding: 4px;
    position: relative;
    transition: all 0.2s;
    .search-container {
      width: 100%;
      @include flex(row, flex-start, center);
      position: sticky;
      top: 0px;
      z-index: 3;
    }
    .search-container.sticky {
      background-color: $color1;
      padding: 4px 0;
      z-index: 3;
    }

    .trends-container,
    .follow-container {
      width: 100%;

      .content {
        width: 95%;
        border-radius: 15px;
        background-color: $color4;
        @include flex(column, flex-start, flex-start);
        h3 {
          font-size: 20px;
          font-weight: 700;
          padding: 1rem;
        }
      }
    }

    .footer-container {
      width: 100%;
      @include flex(column, flex-start, flex-start);
      gap: 0.5rem;
      position: sticky;
      top: 80px;
    }
    .explore {
      top: 15px;
    }

    .follow-container {
      span.show-more {
        width: 100%;
        color: $color3;
        padding: 1rem;
        font-size: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all 0.2s ease-in-out;
        user-select: none;
        cursor: pointer;
        &:hover {
          background-color: $color9;
        }
      }
    }

    footer {
      @include flex(row, flex-start, center);
      gap: 8px;
      flex-wrap: wrap;
      padding: 1rem;
      line-height: 12px;

      div {
        @include flex(row, flex-end, flex-end);
        gap: 2px;
        color: rgba($color5, 0.6);
        font-size: 15px;
        span {
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            text-decoration: underline;
          }
        }
        svg {
          width: 17px;
          cursor: pointer;
        }
      }
    }
  }
}
