.layout {
  flex-basis: 100%;
  max-width: 1300px;
  @include flex(row, space-between, null);
  gap: 0.3rem;
  flex-shrink: 0;
  padding: 4px 8px;

  .navbar {
    height: 100vh;
    flex: 22%;
    @include flex(row, flex-end, null);
    position: sticky;
    top: 0px;
    @media (max-width: 1150px) {
      flex: 80px;
      align-items: flex-end;
      .container {
        width: 88px;
      }
    }
  }
  .main {
    flex: 50%;
  }
  .aside {
    flex: 28%;
    position: relative;
    transition: all 0.2s;
    .search-container {
      width: 100%;
      @extend .flex-center;
      position: sticky;
      top: 0px;
    }
    .search-container.sticky {
      background-color: $color4;
      padding: 8px 0 4px;
    }
  }

  .navbar,
  .main,
  .aside {
    // width: 100%;
    border-radius: 8px;
    background-color: $color4;
    @include flex(column, start, null);
    padding: 0.5rem;
    gap: 1rem;
  }

  .trends,
  .follow,
  .footer {
    background-color: $color1;
    width: 100%;
    height: 120px;
    border-radius: 8px;
  }

  .follow {
    background-color: $color5;
    height: 300px;
    @include flex(column, start, null);
    padding: 0.5rem;
    gap: 1rem;
    position: sticky;
    top: 90px;
  }
  .trends {
    height: 85vh;
  }
}
