.input-search {
  // position: fixed;
  width: 95%;
  height: 45px;
  border-radius: 36px;
  border: 1px solid transparent;
  padding: 8px 16px;
  background-color: $color6;
  @include flex(row, space-between, center);
  gap: 0.5rem;
  transition: all 0.2s ease-out;
  @media (max-width: 500px) {
    width: 100%;
    box-shadow: 0px 0px 5px rgba($color4, 0.5);
  }

  svg {
    width: 20px;
    fill: $color6;
  }
  input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
  }
  .clear {
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background-color: $color3;
    cursor: pointer;
    @extend .flex-center;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
.input-search:focus-within {
  background-color: $color1;
  border: 1px solid $color3;
}
