.home-page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr 90px;
  grid-template-areas: "img content" "footer footer";

  .container-img {
    grid-area: img;
    background: url(../../assets/img/lohp_1302x955.png) no-repeat;
  }

  .container-content {
    grid-area: content;

    .farme-herder {
      .logo {
        width: 50px;
      }
    }
  }

  .container-footer {
    grid-area: footer;
  }
}
