.CardFollow {
  @include flex(row, space-between, flex-start);
  flex-basis: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0.8rem 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $color9;
  }

  .left,
  .right {
    height: 100%;
    width: 100%;
  }

  .left {
    width: 100%;
    @include flex(row, flex-start, flex-start);
    gap: 0.6rem;

    .img-container {
      img {
        width: 45px;
        height: 45px;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .info-container {
      span {
        color: $color5;
      }
      strong,
      span,
      p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin-top: 0.3em;
        -webkit-line-clamp: 2;
      }
    }
  }

  .right {
    width: 100px;
    button {
      background-color: $color2;
      color: $color1;
      font-weight: 600;
      width: 85px;
      padding: 5px;
    }
  }
}
